$primary-text-color: rgb(31, 83, 62);
$hover-text-color: #000000;
$default-background-color: #000000;
$primary-background-color: #006d55;
$secondary-background-color: #14c288;
$primary-font-family: "Oxygen", sans-serif;
$primary-font-weight: 400;
$primary-font-size: 1rem;
$text-animation-duration: 0.5s;
$background-texture: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

@mixin text-styling($clickable: false, $size: $primary-font-size) {
  @include noselect;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-size: $primary-font-size;
  color: $primary-text-color;
  transition: color $text-animation-duration ease;

  &:hover {
    @if $clickable {
      cursor: pointer;
      color: $hover-text-color;
      transition: color $text-animation-duration ease;
    }
  }
}

@mixin backdrop-styling(
  $variation: "primary",
  $textured: false,
  $custom-color: $default-background-color,
  $custom-texture: $background-texture
) {
  @if $variation == "primary" {
    background-color: $primary-background-color;
  } @else if $variation == "secondary" {
    background-color: $secondary-background-color;
  } @else if $variation == "custom" {
    background-color: $custom-color;
  } @else {
    background-color: $default-background-color;
  }

  @if $textured==true and $variation == "custom" {
    background-image: $custom-texture;
  } @else if $textured == true {
    background-image: $background-texture;
  } @else {
    background-image: none;
  }
}
