@import "../../../global/global.styles.scss";

$min-height: 30px;
$max-height: $min-height + 5px;
$transition-speed: 0.25s;
$transition-type: ease;

@mixin bar-group($alignment: "center") {
  display: flex;
  align-items: stretch;
  margin: 5px;

  @if $alignment == "left" {
    justify-content: flex-start;
  } @else if $alignment == "right" {
    justify-content: flex-end;
  } @else {
    justify-content: center;
  }
}

@mixin bar-item($hovered: false) {
  div > svg {
    height: 100%;
    width: 100%;
    @include text-styling($clickable: true);
  }

  div {
    transition: width $transition-speed $transition-type;
    @if $hovered == true {
      width: $max-height;
      // background-color: blue;
    } @else {
      width: $min-height;
      // background-color: white;
    }
  }
}

@mixin group-style($bar-hovered: false) {
  .left-layout-container {
    @include bar-group($alignment: "left");
    @include bar-item($hovered: $bar-hovered);
  }

  .center-layout-container {
    @include bar-group($alignment: "center");
    @include bar-item($hovered: $bar-hovered);
  }

  .right-layout-container {
    @include bar-group($alignment: "right");
    @include bar-item($hovered: $bar-hovered);
  }
}

.styled-bar {
  @include backdrop-styling($variation: "secondary");
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  height: $min-height;
  transition: height $transition-speed $transition-type;
  @include group-style($bar-hovered: false);
  &:hover {
    height: $max-height;
    @include group-style($bar-hovered: true);
  }
}
