@import "../../../global/global.styles.scss";

$min-height: 30px;
$max-height: $min-height + 5px;

@mixin bar-group($alignment: "center") {
  display: flex;
  align-items: stretch;
  margin: 5px;

  @if $alignment == "left" {
    justify-content: flex-start;
  } @else if $alignment == "right" {
    justify-content: flex-end;
  } @else {
    justify-content: center;
  }
}

@mixin bar-item {
  div > svg {
    height: 100%;
    width: 100%;
    @include text-styling($clickable: true);
  }

  div {
    width: $max-height;
  }
}

.styled-bar {
  @include backdrop-styling($variation: "secondary");
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  width: 100vw;
  height: $min-height;
  transition: height 0.5s ease;
  &:hover {
    height: $max-height;
  }

  .left-layout-container {
    @include bar-group($alignment: "left");
    @include bar-item();
  }

  .center-layout-container {
    @include bar-group($alignment: "center");
    @include bar-item();
  }

  .right-layout-container {
    @include bar-group($alignment: "right");
    @include bar-item();
  }
}
