.header {
  text-align: center;
  background-color: #5c5f49;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  box-shadow: 0 0px 10px rgb(63, 63, 63);

  .logo {
    padding: 15px 0px 5px 0px;
    height: 3.5rem;
  }
}
