@import "./global/global.styles.scss";

html,
body {
  overflow: hidden;
  @include backdrop-styling($variation: "primary");
}

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 5fr;
}
