@import "./global/global.styles.scss";

html,
body {
  overflow: hidden;
  @include backdrop-styling("primary");
}

.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: auto 5fr auto;
}

.grid-header {
}

.grid-body {
  display: flex;
  justify-content: center;
  align-items: center;

  // overflow: auto;
  // overflow-y: auto;
}
